**data aggregation**

In [ ]:
import pandas as pd
file_name='/content/amazon_fires.csv'
df = pd.read_csv(file_name,encoding = "ISO-8859-1")
new_columns =  {'ano' : 'year',
               'estado': 'state',
               'mes': 'month',
               'numero': 'number_of_fires',
               'encontro': 'date'}
df.rename(columns = new_columns, inplace=True)
df['state'] = df['state'].str.title()
df['number_of_fires']=df['number_of_fires'].str.strip("Fires")
df['number_of_fires']=df['number_of_fires'].fillna(0)
df['number_of_fires']=df['number_of_fires'].astype(float)

In [ ]:
month_translations = {'Janeiro': 'January',
'Fevereiro': 'February',
'Março': 'March',
'Abril': 'April',
'Maio': 'May',
'Junho': 'June',
'Julho': 'July',
'Agosto': 'August',
'Setembro': 'September',
'Outubro': 'October',
'Novembro': 'November',
'Dezembro': 'December'}

df["month"] = df["month"].map(month_translations)
df.head(15)

    year    month state  number_of_fires        date
0   1998  January  Acre              0.0  01-01-1998
1   1999  January  Acre              0.0  01-01-1999
2   2000  January  Acre              0.0  01-01-2000
3   2001  January  Acre              0.0  01-01-2001
4   2002  January  Acre              0.0  01-01-2002
5   2003  January  Acre             10.0  01-01-2003
6   2004  January  Acre              0.0  01-01-2004
7   2005  January  Acre             12.0  01-01-2005
8   2006  January  Acre              4.0  01-01-2006
9   2007  January  Acre              0.0  01-01-2007
10  2008  January  Acre              0.0  01-01-2008
11  2009  January  Acre              0.0  01-01-2009
12  2010  January  Acre              1.0  01-01-2010
13  2011  January  Acre              0.0  01-01-2011
14  2012  January  Acre              0.0  01-01-2012

In [ ]:
df.tail()

     year     month  state  number_of_fires        date
510  2009  February  Amapa              0.0  01-01-2009
511  2010  February  Amapa              0.0  01-01-2010
512  2011  February  Amapa              3.0  01-01-2011
513  2012  February  Amapa              5.0  01-01-2012
514  2013  February  Amapa              0.0  01-01-2013

In [ ]:
df.describe()

              year  number_of_fires
count   515.000000       515.000000
mean   2007.419417       121.980641
std       5.740058       162.876324
min    1998.000000         0.000000
25%    2002.000000         2.000000
50%    2007.000000        40.000000
75%    2012.000000       211.000000
max    2017.000000       960.000000

In [ ]:
df.groupby('state')

In [ ]:
state_groups = df.groupby('state')
state_groups.get_group('Acre')

     year     month state  number_of_fires        date
0    1998   January  Acre              0.0  01-01-1998
1    1999   January  Acre              0.0  01-01-1999
2    2000   January  Acre              0.0  01-01-2000
3    2001   January  Acre              0.0  01-01-2001
4    2002   January  Acre              0.0  01-01-2002
..    ...       ...   ...              ...         ...
234  2012  December  Acre              1.0  01-01-2012
235  2013  December  Acre              3.0  01-01-2013
236  2014  December  Acre              6.0  01-01-2014
237  2015  December  Acre              8.0  01-01-2015
238  2016  December  Acre              6.0  01-01-2016

[239 rows x 5 columns]

In [ ]:
state_groups.groups

{'Acre': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], 'Alagoas': [239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, ...], 'Amapa': [479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514]}

In [ ]:
state_groups.size()

state
Acre       239
Alagoas    240
Amapa       36
dtype: int64

In [ ]:
state_groups.sum()

           year  number_of_fires
state
Acre     479783         17971.03
Alagoas  481800         44554.00
Amapa     72238           295.00

In [ ]:
state_groups.mean()

                year  number_of_fires
state
Acre     2007.460251        75.192594
Alagoas  2007.500000       185.641667
Amapa    2006.611111         8.194444

In [ ]:
state_groups.median()

           year  number_of_fires
state
Acre     2007.0             2.08
Alagoas  2007.5           175.00
Amapa    2006.5             2.00

In [ ]:
state_groups.count()

         year  month  number_of_fires  date
state
Acre      239    239              239   239
Alagoas   240    240              240   240
Amapa      36     36               36    36

In [ ]:
state_groups.min()

         year     month  number_of_fires        date
state
Acre     1998     April              0.0  01-01-1998
Alagoas  1998     April              0.0  01-01-1998
Amapa    1998  February              0.0  01-01-1998

In [ ]:
state_groups.max()

         year      month  number_of_fires        date
state
Acre     2017  September            960.0  01-01-2017
Alagoas  2017  September            414.0  01-01-2017
Amapa    2017    January            109.0  01-01-2017

In [ ]:
df.groupby('state')['number_of_fires'].mean()

state
Acre        75.192594
Alagoas    185.641667
Amapa        8.194444
Name: number_of_fires, dtype: float64

In [ ]:
df.groupby('state')['number_of_fires'].sum()

state
Acre       17971.03
Alagoas    44554.00
Amapa        295.00
Name: number_of_fires, dtype: float64

In [ ]:
df.groupby('state')['number_of_fires'].count()

state
Acre       239
Alagoas    240
Amapa       36
Name: number_of_fires, dtype: int64

In [ ]:
df.groupby('state')['number_of_fires'].min()

state
Acre       0.0
Alagoas    0.0
Amapa      0.0
Name: number_of_fires, dtype: float64

In [ ]:
df.groupby('state')['number_of_fires'].max()

state
Acre       960.0
Alagoas    414.0
Amapa      109.0
Name: number_of_fires, dtype: float64